/* @theme microsoft-test */

@import "default";
@import url('https://fonts.cdnfonts.com/css/product-sans');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root{
  font-family: "Product Sans", "Noto Sans JP", "sans-serif";
}

/* クラス名未指定全スライド共通設定 */
section {
  /* フォント指定 */
  color: #444444;
  font-size: 18px;
  /* スライドのサイズを指定 デフォルトでは16:9 */
  width: 100%;
  height: 100%;
}

section:not(.top) h1{
  font-size: 40px;
  color: #444444;
  position: absolute;
  top: 50px;
  left: 50px; /* 左端に配置 */
  right: 50px; /* 右端に配置 */
  text-align: center; /* テキストを中央揃えにする */
}



section header {
  text-align: right;
  color: #555555;
}

section footer {
  color: #555555;
}

/*ページ番号*/
section::after {
  font-size: 15px;
	right: 30px; /* works as footer margin */
	width: calc(100% - 60px);
	text-align: center;
	padding-top: 15px;
}

/* topクラス*/
section.top {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.top h1 {
  color: #444444;
  font-size: 50px;
  position: relative; /* 親要素を相対位置に設定する */
  text-align: center;
}

/* 下線を作成する */
section.top h1::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    
    bottom: -3px; /* 下線の位置 */
    width: 250%;
    max-width: 800px;
    height: 7px; /* 下線の太さ */
    background-image: linear-gradient(to right,
        #4285F4 0%, /* 最初の点の色 */
        #4285F4 20%, /* 2番目の点の色 */
        #EA4335 20%, /* 2番目の点の色 */
        #EA4335 40%, /* 3番目の点の色 */
        #FBBC05 40%, /* 3番目の点の色 */
        #FBBC05 60%, /* 4番目の点の色 */
        #34A853 60%, /* 4番目の点の色 */
        #34A853 80%, /* 最後の点の色 */
        #4285F4 80%  /* 最後の点の色 */
    );
}

/* 下線を作成する */
section:not(.top) h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* 下線の位置 */
    width: 100%;
    height: 7px; /* 下線の太さ */
    background-image: linear-gradient(to right,
        #4285F4 0%, /* 最初の点の色 */
        #4285F4 20%, /* 2番目の点の色 */
        #EA4335 20%, /* 2番目の点の色 */
        #EA4335 40%, /* 3番目の点の色 */
        #FBBC05 40%, /* 3番目の点の色 */
        #FBBC05 60%, /* 4番目の点の色 */
        #34A853 60%, /* 4番目の点の色 */
        #34A853 80%, /* 最後の点の色 */
        #4285F4 80%  /* 最後の点の色 */
    );
}


section.top h2 {
  color: #444444;
  margin-top: 20px;
}

code {
  font-family: "Menlo" monospace !important;
  background-color: white;
}

pre {
  background-color: #FFFFFF;
}

/* strong,b {
  color: #4285f4;
} */

[class^="language-"] {
  color: #444444;
}

[class^="hljs-"] {
  color: #444444;
}

.hljs-keyword, .hljs-built_in{
  font-weight: bold;
}

.hljs-string, .hljs-title{
  color: #444444;
}

.hljs-comment{
  color: #999999;
}

.code-title {
  color:#444444;
  font-weight: bold;
  text-align: center;
}